* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	display: flex;
	justify-content: center;
	position: relative;
}

#root {
	width: 100%;
	max-width: 1440px;
}
