nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid hsl(220, 14%, 75%);
	line-height: 6em;
}

.nav-links {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 2em;
}

.nav-logo-img {
	margin-right: 2em;
}

li {
	color: hsl(219, 9%, 45%);
	border-bottom: 3px solid transparent;
	cursor: pointer;
}

li:not(:first-child):hover {
	border-bottom: 3px solid hsl(26, 100%, 55%);
}

.nav-profile {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-profile-cart {
	position: relative;
	margin-right: 3em;
	cursor: pointer;
}

.nav-profile-avatar {
	height: 3em;
	cursor: pointer;
	border: 2px solid transparent;
	margin-bottom: 0.5em;
}

.nav-profile-avatar:hover {
	border-radius: 50%;
	border: 2px solid hsl(26, 100%, 55%);
}

.nav-profile-cart-count {
	position: absolute;
	color: white;
	font-size: 0.6em;
	top: 2.9em;
	right: -1em;
	background: orange;
	line-height: 1.5em;
	width: 2em;
	text-align: center;
	border-radius: 50%;
}

#menu {
	display: none;
	height: 1.2em;
	margin-bottom: 0.3em;
}

.link {
	display: block;
}

.menu-links {
	list-style-type: none;
	position: absolute;
	top: 0;
	left: -14em;
	width: 14em;
	height: 100vh;
	background-color: white;
	padding: 1em 2em;
	transition: left 0.3s ease-in-out;
	z-index: 3;
}

.menu-link {
	color: black;
	font-size: 1em;
	font-weight: 700;
	line-height: 3em;
	width: fit-content;
}

.menu-links :first-child {
	padding: 0.3em 0 0.5em 0;
}

.active {
	left: 0;
}

.close-icon-menu {
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	nav {
		padding: 0 2em;
		border-bottom: none;
	}

	#logo:hover {
		border-bottom: 3px solid transparent;
	}

	.nav-links {
		column-gap: 1em;
	}

	#menu {
		display: block;
	}

	.link {
		display: none;
	}

	.nav-profile-cart {
		margin-right: 1.5em;
	}
}
